<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Licencia Confirmada</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="container mt-5">

    <!-- Incluir el menú de navegación -->
    <div th:replace="~{fragments/menu :: menu}"></div>

    <div class="alert alert-success text-center mt-4">
        <h1>✅ ¡Licencia Confirmada!</h1>
        <p>La solicitud de licencia se ha registrado con éxito.</p>
		<a href="/web/licencias/listar" class="btn btn-primary">📄 Ver Licencias</a>

    </div>
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>
